{% extends "web/ghc.html" %}
{% block content %}
<div class="content-subhead">
  <div class="container">
    <div class="flex-halfs allscreens">
      <div class="half">
        <h2>About GHC</h2>
      </div>
      <div class="half">
        <div class="breadcrumbs">
          <a href="/">Home</a> &gt; About
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="flex-halfs">
    <div class="half">
      <div class="content-page">
        <p>Guy Hopkins Construction Co., Inc. was established in 1984 as a commercial general contractor. Diversification into site development, municipal construction and heavy concrete work define the company's evolutionary history.  Its successful experience in multiple types of construction enables the company to provide owners with a broad base of solutions to meet the construction project requirements.</p>
        <p>For more information about specific projects within the commercial, municipal, heavy concrete work, or industrial categories, <a href="/projects">please click here.</a></p>
      </div>
    </div>
    <div class="half">
      <div class="flex-halfs allscreens">
        <div class="half profile">
          <img src="images/guy-hopkins.jpg" alt="Guy Hopkins">
          <h3>H. Guy Hopkins, III</h3>
          <h4 class="sub">President</h4>
          <p>Established GHC and has a reputation for delivering construction projects with the highest level of integrity and responsiveness. </p>
        </div>
        <div class="half profile">
          <img src="images/collette-lambert.jpg" alt="Collette Lambert">
          <h3>Collette Lambert</h3>
          <h4 class="sub">Vice President/CFO</h4>
          <p>As CFO, Collette has oversight responsibility for all accounting, human resource, technology, policy and risk management functions.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}