{% extends "web/ghc.html" %}
{% block content %}
<div class="content-subhead">
  <div class="container">
    <div class="flex-halfs allscreens">
      <div class="half">
        <h2>Services</h2>
      </div>
      <div class="half">
        <div class="breadcrumbs">
          <a href="/">Home</a> &gt; Services
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="content-page">
    <p>
      Guy Hopkins Construction Co., Inc. is able to offer general contracting services for a broad range of construction projects. The company's resume of completed work includes projects ranging from $500,000 to $15,000,000 for both private owners and public entities. Its specialization in foundation work provides an advantage for directing and controlling the progress of project completion. To view details and photos of completed projects, select the Projects link above.
    </p>
    <h3>Commercial</h3>
    <p>
      Diversity among a variety of construction applications is typical of the Company's commercial experience, which includes new construction, as well as historic renovations, remodels and build outs. Included among the Company's commercial construction services are automobile dealerships, correctional institutions, educational institutions, governmental entities, recreational facilities, restaurants, retail establishments, warehouses, franchises, as well as a variety specialty construction services.
    </p>  
     <h3>Heavy Construction</h3>
    <p>
      The services offered in the area of heavy construction work include large, paved areas for industrial use, foundations for specialty equipment, tunnels for material transfer, and hospital foundations. The Company also subcontracts these services for heavy construction work to construction management firms.
    </p>
    <h3>Municipal</h3>
    <p>
      The Company's municipal experience includes the construction and rehabilitation of potable water plants, wastewater treatment facilities, pump stations and drainage structures, as well as water and sewer lines.
    </p> 
    <h3>Industrial</h3>
    <p>
      The Company's strength in heavy construction work is well suited to the industrial environment. Architectural buildings, such as blast proof production control facilities, concrete structures, industrial warehouses and office buildings within the industrial environment are typical of the specialty construction services offered.
    </p>
  </div>
</div>
{% endblock %}
