modules = ["nodejs-24", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["gunicorn", "django_project.wsgi:application", "--bind", "0.0.0.0:8000"]
build = ["python", "manage.py", "collectstatic", "--noinput"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Django Dev Server"

[[workflows.workflow]]
name = "Django Dev Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
#args = "gunicorn django_project.wsgi:application --bind 0.0.0.0:8000 --reload"
args = "python manage.py runserver 0.0.0.0:8000"
waitForPort = 8000

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["vim"]

[objectStorage]
defaultBucketID = "replit-objstore-ab81585a-2d25-46e0-b81e-72ec3dc82ca1"

[userenv]

[userenv.shared]
