{% extends '../web/ghc.html' %}
{% block content %}
<div class="content-subhead">
  <div class="container">
    <div class="flex-fifths allscreens">
      <div class="three-fifths">
        <h2>Construction Projects</h2>
      </div>
      <div class="two-fifths">
        <div class="breadcrumbs">
          <a href="/">Home</a> &gt; Projects
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <ul class="projects">
  	{% for project in projects %}
    <li>
      <a href="{% url 'projects:project' project.slug %}">
        <img src="{{ project.photo_1.photo.file.url }}" alt="{{ project.title }}">
        <h4>{{ project.title }}</h4>

      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}