<div class="desc">
  <h3>{{ project.subhead|default:"Project Description" }}</h3>
  <p>{{ project.desc }}</p>
  <ul class="checklist">
    {% if project.owner %}
      <li><strong>Owner:</strong> City of Baton Rouge / EBR Parish</li>
    {% endif %}
    {% if project.owner %}
      <li><strong>Architect/Engineer:</strong> Go Tech</li>
    {% endif %}
    {% if project.project_value %}
      <li><strong>Project Value:</strong> {{ project.project_value }}</li>
    {% endif %}
    {% if project.start_date %}
      <li><strong>Start Date:</strong> {{ project.start_date }}</li>
    {% endif %}
    {% if project.completion_date %}
      <li><strong>Completion Date:</strong> {{ project.completion_date }}</li>
    {% endif %}
  </ul>
</div>