{% extends '../web/ghc.html' %}
{% block content %}

<div class="content-subhead">
  <div class="container">
    <div class="flex-halfs">
      <div class="half">
        <h2>{{ project.title }}</h2>
      </div>
      <div class="half">
        <div class="breadcrumbs">
          <a href="/">Home</a> &gt; <a href="/projects/">Projects</a> &gt; {{ project.title }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container project">
  <div class="flex-fifths">
    <div class="three-fifths">
    	{% if project.photo_1 %}
      	<img class="example" src="{{ project.photo_1.photo.file.url }}" alt="{{ project.title }}">
      {% endif %}
      {% if project.photo_2 %}
      	<img class="example" src="{{ project.photo_2.photo.file.url }}" alt="{{ project.title }}">
      {% endif %}
      {% if project.photo_3 %}
      	<img class="example" src="{{ project.photo_3.photo.file.url }}" alt="{{ project.title }}">
      {% endif %}
      {% if project.photo_4 %}
      	<img class="example" src="{{ project.photo_4.photo.file.url }}" alt="{{ project.title }}">
      {% endif %}
    </div>
    <div class="two-fifths">
    	{% include 'projects/project_desc.html' %}
    	{% if projects.additional_project %}
    		{% with project as projects.additional_project %}
    		{% include 'projects/projects_desc.html' %}
    		{% endwith %}
    	{% endif %}
      <div class="more-projects">
        <div class="flex-halfs allscreens">
          <div class="half">
          	{% if prev %}
            <a class="button dark grey center full" href="{% url 'project' prev.slug %}"><i class="fa fa-chevron-left"></i> Prev</a>
          	{% endif %}
          </div>
          <div class="half">
          	{% if next %}
            <a class="button dark grey center full" href="{% url 'project' next.slug %}">Next <i class="fa fa-chevron-right"></i></a>  
          	{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}