<div class="desc">
  <h3>{{ project.desc_head|default:"Project Description" }}</h3>
  <p>
    {% with desc=project.desc|safe %}
      {{ desc|linebreaks }}
    {% endwith %}
  </p>
  <ul class="checklist">
    {% if project.owner %}
      <li><strong>Owner:</strong> {{ project.owner }}
        {% if project.second_owner %}
         / {{ project.second_owner }}
        {% endif %}
      </li>
    {% endif %}
    {% if project.architect_designer %}
      <li><strong>Architect/Engineer:</strong> {{ project.architect_designer }}</li>
    {% endif %}
    {% if project.project_value %}
      <li><strong>Project Value:</strong> ${{ project.project_value }}</li>
    {% endif %}
    {% if project.start_date %}
      <li><strong>Start Date:</strong> {{ project.start_date }}</li>
    {% endif %}
    {% if project.completion_date %}
      <li><strong>Completion Date:</strong> {{ project.completion_date }}</li>
    {% endif %}
  </ul>
</div>