<div class="desc">
  <h3>{{ project.desc_head|default:"Project Description" }}</h3>
  <p>
    {% with desc=project.desc|safe %}
      {{ desc|linebreaks }}
    {% endwith %}
  </p>
  <ul class="checklist">
    {% if project.owner %}
      <li><strong>Owner:</strong>
        <a href="{% url 'projects:filter owner' project.owner.slug %}">
          {{ project.owner }}
        </a>
        {% if project.second_owner %}
          / 
         <a href="{% url 'projects:filter owner' project.second_owner.slug %}">
          {{ project.second_owner }}
          </a>
        {% endif %}
      </li>
    {% endif %}
    {% if project.architect_designer %}
      <li>
        <strong>Architect/Engineer:</strong>
        <a href="{% url 'projects:filter designer' project.architect_designer.slug %}">
          {{ project.architect_designer }}
        </a>
      </li>
    {% endif %}
    {% if project.category %}
      <li>
        <strong>Category:</strong>
        <a href="{% url 'projects:filter category' project.category.slug %}">
          {{ project.category }}
        </a>
      </li>
    {% endif %}
    {% if project.project_value %}
      <li><strong>Project Value:</strong> ${{ project.project_value }}</li>
    {% endif %}
    {% if project.start_date %}
      <li><strong>Start Date:</strong> {{ project.start_date }}</li>
    {% endif %}
    {% if project.completion_date %}
      <li><strong>Completion Date:</strong> {{ project.completion_date }}</li>
    {% endif %}
    {% if project.duration %}
      <li><strong>Project Duration:</strong> {{ project.duration }}</li>
    {% endif %}
  </ul>
</div>